.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  transition: height;
  .top,
  .bottom {
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    left: 0;
    width: 100vw;
    height: 0vh;
    border-width: 0;
    border-style: double;
    border-color: goldenrod;
    background: saddlebrown;
    user-select: none;
  }
  .top {
    top: 0;
    border-bottom-width: 10px;
  }
  .bottom {
    bottom: 0;
    border-top-width: 10px;
  }
}
